#formulario{
    background: transparent;
    border: 2px solid rgba(225,225, 225, .2);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin: 19px;
    padding: 19px;
}

#label{
    font-size: 20px;
    color: rgb(89,248,232);
}